/* General page setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 75%; /* Restrict content width to 90% of the page */
    max-width: 1200px;
}

/* Header Section */
header {
    background-color: #3a4a5b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-style: italic;
}

/* Abstract Section */
.abstract {
    margin-top: 30px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
}

.abstract h2 {
    margin-bottom: 15px;
    color: #3a4a5b;
}

.abstract p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Central Video Section */
.central-video {
    margin-top: 40px;
    text-align: center;
}

.central-video h2 {
    color: #3a4a5b;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.central-video .video-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.central-video iframe {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.grid-container .video-item, .grid-container .plotly-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 315px;
}

iframe {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

/* Subsection Styling */
.subsection {
    margin-top: 50px;
}

.subsection h2 {
    color: #3a4a5b;
    margin-bottom: 15px;
    font-size: 1.8rem;
    text-align: center;
}
